$inter: 'Inter', sans-serif;

$h1Size: 42px;
$h2Size: 36px;
$h3Size: 32px;
$h4Size: 24px;

$importantTextColor: #00B285;
$titlesColor: #CEC7A6;
$backgroundColor: #363636;
$pointsColor: #FFC165;
$mainTextColor: #C9C9C9;
$whiteColor: #FFFFFF;
$footnoteColor: #ABABAB;
$secondaryTextColor: #CFCFCF;